nav{
    margin: 0;
    padding: 5px 10%;
    box-sizing: border-box;
    background-color:pink;
    border-bottom: 15px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 }
 .logo{
    font-size: 20px;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
 }
.nav-link{
    list-style: none;
    display: flex;
    gap: 40px;
}
.nav-link li a{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: white;

}
/*changes the color when you hover over the links*/
.nav-link li a:hover{
    color:  rgb(231, 153, 179);
}

.TypeBot
{ 
    position: relative;
    top: 200px; /* distance from top of page */
    left: 50px; /* distance from left of page */
    width: 400px;
    height: 600px;
    background-color: pink;
  }